.carousel .item{
  height: 500px;
  margin-bottom: 20px;
  padding:inherit;
}


.item img {
  position: absolute;
  top: 0;
  left : 0;
  min-height: 100px;
}





body{
  margin: 0;
  padding: 0;
  background: white;
  background-size: cover;
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
  text-align: center;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}













.container span{
  color: gray;
  text transform: uppercase;
  display: block
}

.text1{
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  height: 150px;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: black
  position: relative;
  animation: text 5s 1;
}


@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
      }
85%{
  letter-spacing: 8px;
  margin-bottom: -40px;
}
